<mat-toolbar color="accent">

  <div class="top-buttons">
    <button mat-mini-fab class="fab" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="top-buttons">
    <button mat-mini-fab (click)="remove(0)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="list-container">
    <div @items class="box" (click)="remove(i)" 
      *ngFor="let item of list; let i=index;">
    </div>
  </div>

  <button mat-button [matMenuTriggerFor]="animals">Animal</button>

  <mat-menu #animals="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
    <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
  </mat-menu>

  <mat-menu #vertebrates="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
    <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
    <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
    <button mat-menu-item>Birds</button>
    <button mat-menu-item>Mammals</button>
  </mat-menu>

  <mat-menu #invertebrates="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
    <button mat-menu-item>Arachnids</button>
    <button mat-menu-item>Velvet worms</button>
    <button mat-menu-item>Horseshoe crabs</button>
  </mat-menu>

  <mat-menu #fish="matMenu">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </mat-menu>

  <mat-menu #amphibians="matMenu">
    <button mat-menu-item>Sonoran desert toad</button>
    <button mat-menu-item>Western toad</button>
    <button mat-menu-item>Arroyo toad</button>
    <button mat-menu-item>Yosemite toad</button>
  </mat-menu>

  <mat-menu #reptiles="matMenu">
    <button mat-menu-item>Banded Day Gecko</button>
    <button mat-menu-item>Banded Gila Monster</button>
    <button mat-menu-item>Black Tree Monitor</button>
    <button mat-menu-item>Blue Spiny Lizard</button>
    <button mat-menu-item disabled>Velociraptor</button>
  </mat-menu>

  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="Menu">
    <mat-icon>menu</mat-icon>Menu</button>
</mat-toolbar>

<mat-menu #Menu="matMenu">
  <button mat-menu-item (click)="openModal()">
    <mat-icon>fingerprint</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item routerLink="/chat">
    <mat-icon>chat</mat-icon>
    <span>Chat</span>
  </button>
  <button mat-menu-item routerLink="/table">
    <mat-icon>table</mat-icon>
    <span>Table</span>
  </button>
  <button mat-menu-item>
    <mat-icon>map</mat-icon>
    <span>Map</span>
  </button>
  <button mat-menu-item (click)="changeTheme()">
    <mat-icon>style</mat-icon>
    <span>Style</span>
  </button>
  <button mat-menu-item (click)="openModal()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
</mat-menu>
