@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "./styles/loading.scss";
@import "./styles/spiner.scss";

// deeppurple-amber.css
// indigo-pink.css
// pink-bluegrey.css
// purple-green.css

body {
    background:lightgray;
    font-family: 'Roboto', Arial, sans-serif;
        margin: 0 auto;
    padding: 0 auto;
}
